<div class="header-top-bar">
  <h1>Moje Škola</h1>

  <a routerLink="/login" class="profile-avatar" title="Přihlásit se">
    <span>👤</span>
  </a>
</div>

<nav>
  <a routerLink="/home" routerLinkActive="active">Domů</a>
  <a routerLink="/home" routerLinkActive="active">Doma</a>
  <a routerLink="/contacts" routerLinkActive="active">Kontakty</a>
  <a routerLink="/about" routerLinkActive="active">O Společnosti</a>
  <a routerLink="/users" routerLinkActive="active">Uživatelé</a>
  <a routerLink="/user/add" routerLinkActive="active">Přidat Uživatele</a>
  <a routerLink="/user/remove" routerLinkActive="active">Odstranit Uživatele</a>
</nav>

<div class="main-content-wrapper">
  <router-outlet />
</div>
