<div class="table-card">
  <h2>{{ title }}</h2>

  <p *ngIf="loading" class="table-loading">Načítání uživatelů...</p>
  <p *ngIf="error" class="table-error">{{ error }}</p>

  <div class="table-responsive" *ngIf="!loading && !error">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
